backend:
  name: github
  repo: skyselvlz/skyselvlz.github.io

publish_mode: editorial_workflow
media_folder: static/img
public_folder: /img

collections:
  - name: posts
    label: Posts
    label_singular: Post
    folder: content/posts
    create: true
    slug: "{{year}}-{{month}}-{{day}}-{{fields.slug}}"
    preview_path: "/{{fields.slug}}"
    fields:
      - {label: "Publish Date", name: "date", widget: "datetime"}
      - {label: "Title", name: "title", widget: "string"}
      - {label: "Slug", name: "slug", widget: "string", hint: "URL slug, e.g. a-post will become skyselvlz.com/a-post"}
      - {label: "Description", name: "description", widget: "string", hint: "Short description to be shown on the home page"}
      - {label: "Tags", name: "tags", widget: "list", required: false, hint: "organization, college, music, ..."}
      - {label: "Enable comments", name: "disqus", widget: "boolean", default: true}
      - {label: "Body", name: "body", widget: "markdown"}
